{% extends "base.html" %}
{% block content %}
<h1 class="h4 mb-3">Moji termini</h1>

{% if appointments %}
  <div class="list-group">
    {% for a in appointments %}
      <div class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div>
              <strong>{{ a.start_dt|date:"d.m.Y H:i" }}</strong> — {{ a.service.name }}
            </div>

            <div class="text-muted small d-flex align-items-center gap-2">
              <span class="badge
                {% if a.status == 'PENDING' %}bg-warning
                {% elif a.status == 'APPROVED' %}bg-primary
                {% elif a.status == 'DONE' %}bg-success
                {% elif a.status == 'CANCELLED' %}bg-secondary
                {% elif a.status == 'REJECTED' %}bg-danger
                {% endif %}">
                {{ a.status }}
              </span>

              <span>· Djelatnik: {{ a.staff.user.username }}</span>
            </div>
          </div>

          <div class="d-flex gap-2">
            {% if a.status == "PENDING" or a.status == "APPROVED" %}
              <form method="post" action="{% url 'cancel_appointment' a.pk %}">
                {% csrf_token %}
                <button class="btn btn-sm btn-outline-danger">Otkaži</button>
              </form>
            {% else %}
              <button class="btn btn-sm btn-outline-secondary" disabled>Otkaži</button>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="text-muted">Još nemaš rezerviranih termina.</div>
{% endif %}
{% endblock %}
